PORT=5000
DATABASE_URL=postgresql://postgres.ooihgkqawtslspyipebw:6M&i&.4Nu$@9T4P@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
JWT_SECRET=yizt_secret
JWT_EXPIRY=7d
TURNSTILE_SITE_KEY=0x4AAAAAACzlWb2CGvZkXsYO
TURNSTILE_SECRET_KEY=0x4AAAAAACzlWWPIZoxr6Uolfqm5h_1FJdk
FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=thedossiercreatives@gmail.com
SMTP_PASS=vwla zqti degs lihd
SMTP_FROM=Fruityger <thedossiercreatives@gmail.com>
R2_ENDPOINT=https://c528f2b274176cb119de08ade5adc5b8.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=1f1298c7fed868bb14d326e34eec3f50
R2_SECRET_ACCESS_KEY=c88d774fa3789dd9c1299807db3bdd92a38cec5dcfdda3b8a68896c3ddf50d68
R2_BUCKET=fruityger
R2_PUBLIC_URL=https://pub-dc3166daa4cc41eca1728ea5e9c32994.r2.dev
